<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS</title>
  <link rel="icon" href="/static/images/cmsfavicon.jpg">
  <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    
<footer class="container-fluid footer eventreport box_sdw10  text-lg-start printnone  bg-body-tertiary text-muted">
    <div class="row">

    <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start p-4 border-bottom">
      <div class="me-5">
        <span class="f_11">
            © 2024 Blu Sip and Save. All rights reserved
        </span>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end p-4 border-bottom ">
      <div class="hv">
        <a href="#" class="me-4 roundde text-reset">
          <i class="fab fa-facebook-f ms-1"></i> 
        </a>
        
        <a href="" class="me-4 rounddetwtr text-reset">
          <i class="fab fa-twitter ms-1"></i> 
        </a>
        
        
        <a href="#" class="me-4 text-reset rounddeinst">
         <i class="fab fa-instagram p-0 ms-1"></i> 
        </a>
        
        <a href="#" class=" rounddeldin text-reset">
          <i class="fab fa-linkedin"></i> 
        </a>
  
      </div>
    </div>
</div>

  
  </footer>


</body>

</html>



