<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="icon" href="/static/images/logo2.png">
    <link rel="stylesheet" href="/static/css/add_tickets.css">

    <link href="/static/cdn/css/fontawesome6.5.1.css" rel="stylesheet" />
    <link href="/static/cdn/css/bootstrap5.3.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/cdn/css/jqueryUI1.12.1.css">
    <link rel="stylesheet" href="/static/cdn/css/jquery_calender.css">


    <script src="/static/cdn/js/bootstap5.3.js"></script>
    <script src="/static/cdn/js/fontawesome6.5.1.js"></script>
    <script src="/static/cdn/js/jquery3.6.0.js"></script>
    <script src="/static/cdn/js/jqueryUI1.12.1.js"></script>
    <script src="/static/cdn/sweetalert/js/sweetalert11.10.2.js"></script>
</head>

<body>







    <section class="page">
        <div class="container-fluid mt-4">
            <input type="hidden" name="emp_id" id="emp_id" value="<%= emp_id %>">
            <input type="hidden" name="emp_name" id="emp_name" value="<%= emp_name %>">
            <div class="container-fluid mt-3 border_t_g newmp bg-light py-2 rounded-3">

                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="row mt-4 mb-2 pb-4">
                        <div class="col-lg-3 my_cols">
                            <h6 class="fw_bold f_13 ms-1 ">Complaint Category: <span class="text-danger">*</span></h6>
                            <select name="ticket_type"
                                class="form-select border-leftb box_sdw11 f_13 fw_600" id="yourSelectId"
                                aria-label="Default select example">
                                <option selected disabled>Select</option>
                                <% for (var i=0; i < data.length; i++) { %>
                                    <option value="<%= data[i].c_category %>">
                                        <%= data[i].c_category %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>

                        <div class="col-lg-3 my_cols">
                            <h6 class="fw_bold f_13 ms-1 ">Complaint Sub. Category: <span class="text-danger">*</span></h6>
                            <select name="ticket_type_dd"
                                class="form-select border-leftb box_sdw11 f_13 fw_600" id="ticket_type_dd"
                                aria-label="Default select example">
                                <option selected disabled>Select</option>
                               
                            </select>
                        </div>
                        <div class="col-lg-3 my_cols">
                            <h6 class="fw_bold f_13 ms-1 ">Complaint Type: <span class="text-danger">*</span></h6>
                            <select name=""
                                class="form-select border-leftb box_sdw11 f_13 fw_600"
                                id="ticket_type1_dd" aria-label="Default select example">
                                <option selected disabled>Select</option>
                            </select>


                        </div>

                        <div class="col-lg-3 my_cols">
                            <h6 class="fw_bold f_13 ms-1 ">Ticket Location:<span class="text-danger">*</span></h6>
                            <select name="ticket_location"
                                class="form-select border-leftb box_sdw11 f_13 fw_600"
                                id="ticket_location" aria-label="Default select example">
                                <option selected disabled>Select</option>
                            </select>


                        </div>


                    </div>

            </div>
        </div>


        <div class="container-fluid parentbox my-4" id="append_cr">
            
        </div>

      

    </section>







                    <script src="/static/js/add_tickets_connect.js"></script>

    
</body>

</html>